<html>

<head>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>

<hr>
<div class="content" style="display:none">
	<div class="postbody">
		<h3 class="posttile">title</h3><br>
		<span class="postdate"> 2015.11.2</span><br>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>

<div class="content" style="display:none">
	<div class="postbody">
		<h3 class="posttile">title</h3><br>
		<span class="postdate"> 2015.11.2</span><br>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>


<div class="content" style="display:none">
	<div class="postbody">
		<h3 class="posttile">title</h3><br>
		<span class="postdate"> 2015.11.2</span><br>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>


<div class="content" style="display:none">
	<div class="postbody">
		<h3 class="posttile">title</h3><br>
		<span class="postdate"> 2015.11.2</span><br>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>


<div class="content" style="display:none">
	<div class="postbody">
		<h3 class="posttile">title</h3><br>
		<span class="postdate"> 2015.11.2</span><br>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>

<div class="contentpageindex" style="display:none">
<span>Page:</span>
<span>currrent</span>
<span>/</span>
<span>total</span>
<a href="javascrip:goHomePage()">Home</a>
<a hidden="hidden" href="javascrip:goPreviousPage()">Previous</a>
<a hidden="hidden" href="javascrip:goNextPage()">Next</a>
<a href="javascrip:goLastPage()">Last</a>
</div>

<script>

$(document).ready(function() {
	$.get("/report/abstract", function(data, status){
		
		var jsonData = $.parseJSON(data)
		items = jsonData["result"]
		for(var i=0; i<items.length; i++)
		{
			$(".posttile:eq(0)").replaceWith(items[i]["title"])
			$("div.postdate:eq(0)").replaceWith(items[i]["date"])
			$("div.postabstract:eq(0)").replaceWith(items[i]["abstract"])
		}
		$(".content").show()
		$(".contentpageindex").show()
	})
})

</script>




</body>

</html>
