<html>

<head>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
$(document).ready(function(){})
</script>
</head>

<body>

<div class="content">
	<div class="postbody">
		<h3 class="posttile"><a href="www.gtja.com">title</a></h3>	
		<span class="postdate"> 2015.11.2</span>
		<div class="postabstract">
			<strong>Abstract .........</strong>
		</div>
	</div>
	<hr>
</div>

<input id="btn", type="button"></input>

<script>
$(".content").load("/report/abstract")
</script>

</body>

</html>
